<!-- inline css goes at the very top with jinja-->
<style>
    .body form{
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 20px
    }
    .body{
        text-align:center
    }
    .input_field {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .input_submit {
      width: 100%;
      background-color: #51919f;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .input_submit:hover {
      background-color: #48828e;
    }
</style>

{% extends 'base.html'%}
{% block body %}
    <div class="body">
        <H1>Tests taken by Students</H1>
        <form action="/tests_taken" method='POST'>
            <input type="text" name="TEACH_ID" placeholder="Find tests by Teacher ID" class="input_field"> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>

    </div>

    {% for i in tests_taken%}
        <ul>
            <li><a href="/STU_tests/{{i[0]}}">TEST_NAME: {{i[1]}}</a></li>
            <li>MADE BY: TEACHER ({{i[3]}})</li>
            <li>AMOUNT OF STUDENTS WHO'VE TAKEN TEST: {{i[2]}}</li>
        </ul>
    {% endfor %}



{% endblock %}

